$red: #f55661;
$brandbg: #2a2f33;
$menubg: #393d42;
$sideheader: #31363b;
$contentbg: #f5f7f8;
$text: #cdcdce;
$text2: #ababab;
$text3: #4a4a4a;
$notification: #5a958d;
$date: #b2b2b3;
$accordion: #32363a;
