@use './colors.scss';

$bg0: #ffe5e5;
$bg1: #ffcdcd;

.content {
  position: relative;
  min-height: 100vh;
  font-size: 1.5rem;
  flex: 1;
  background-color: colors.$contentbg;
  background-image: conic-gradient(
    colors.$contentbg 25%,
    rgba(200, 150, 150, 0.1) 0% 50%,
    rgba(150, 200, 150, 0.1) 0% 75%,
    rgba(150, 150, 200, 0.1) 0%
  );
  background-size: 10rem 10rem;
  padding-left: 5rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  &--header {
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    &--status {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      .statcircle {
        border-radius: 100%;
        align-self: center;
        margin-right: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
