@use './colors.scss';

.postlist {
  margin-top: 2.5rem;
  &--date {
    color: colors.$date;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &--posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &--post {
      margin-bottom: 1.5rem;
      height: 45rem;
      width: 35rem;
      margin-right: 3.5rem;
      display: flex;
      flex-direction: row;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem 2rem grey;
      .sm {
        width: 4.5rem;
        display: grid;
        place-items: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        svg {
          color: colors.$contentbg;
        }
      }
      .context {
        padding: 2.5rem 2rem;
        flex: 1;
        background-color: #fff;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 1.5rem;
          height: auto;
          color: colors.$text2;
          svg {
            cursor: pointer;
            padding: 0.2rem;
            margin: 0rem 0.5rem;
          }
        }
        &--entry {
          color: colors.$text3;
          font-size: 1.2rem;
        }
        &--image {
          height: 50%;
          background-size: cover;
          background-position: center center;
          position: relative;
          transform-style: preserve-3d;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../assets/no-post-image.png");
            background-position: center center;
            background-size: 150% 130%;
            transform: translateZ(-1px);
          }
        }
        &--reactions {
          color: colors.$text2;
          display: flex;
          flex-direction: row;
          svg {
            padding: 0.1rem 0.2rem;
            cursor: pointer;
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
